@import "src/app/scss/mixins";
form{
  position: relative;
  border-radius: 4px;
}
.icon_button_login{
  position: relative;
  top:-3px;
}

.input, .mat-raised-button{
  width: 100%;
}

p{
  a{
    text-decoration: none;
  }
}
.loading-form{
  @include disabled-content;
  opacity: 0.7;
}
