
<form [formGroup]="formGroup" #ngForm="ngForm" (ngSubmit)="onSubmit()" (keypress)="onKeyPressAddContactForm($event)"   [ngClass]="{'loading-form':loading}">

  <ng-template #recursiveList let-list="controls">

      <span *ngFor="let control of list" [ngSwitch]="control.controlType">

        <ng-container *ngSwitchCase="controlTypes.formField">

          <formify-input *ngIf="control.fieldType === fieldTypes.input " [formControl]="control.formControl"  [fieldModel]="control" (onPrefix)="handlePrefix($event)"></formify-input>

<!--          <formify-select *ngIf="control.fieldType === fieldTypes.select" [formControl]="control.formControl" [fieldModel]="control"  [submitted]="ngForm.submitted"></formify-select>-->

<!--          <ams-phone-input *ngIf="control.fieldType === fieldTypes.inputPhone" [formControl]="control.formControl" [fieldModel]="control"  [submitted]="form.submitted"></ams-phone-input>-->

        </ng-container>

        <ng-container *ngSwitchCase="controlTypes.formGroup">

            <ng-container *ngTemplateOutlet="recursiveList;context: {controls:control.controls}" ></ng-container>

        </ng-container>

        <ng-container *ngSwitchCase="controlTypes.formArray">

          <ng-container *ngTemplateOutlet="recursiveList;context: {controls:control.controls}" ></ng-container>

        </ng-container>

      </span>

  </ng-template>

  <ng-container *ngTemplateOutlet="recursiveList; context: {controls:controls}"></ng-container>

<!--  <formify-submit [formifyModel]="formifyModel" [ngForm]="ngForm"> </formify-submit>-->

</form>
