.form-content {
  position: relative;
  > div {
    margin: 16px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    button{
      position: absolute;
      right: 0;
      top: -10px;
    }
  }
}
