.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.icon{
  position: absolute;
  right: 0;
  top:3px;
  font-size: 20px;
}
.error-icon{
  color:red;
}
.dropDownIconInPrefix{
  position: relative;
  top: 6px;
}
