<form [formGroup]="formGroup" #form="ngForm" [autocomplete]="autoComplete">
  <mat-label class="label">{{(!useTranslation) ? label : label | translate}}:</mat-label>

  <mat-checkbox [formControlName]="controlName" *ngFor="let option of options" [color]="color" (ngModelChange)="emitValue()">
    {{option.text}}
  </mat-checkbox>

  <mat-error *ngIf="control.invalid && submitted | async">
    <span *ngFor="let error of errors(control)">
      {{(!useTranslation) ? error.description : error.translationCode | translate: error.parameters}}
    </span>
  </mat-error>
  <button hidden #submit></button>
</form>

