<div class="form-content">
<div>
  <span>Membership formify</span>
  <button mat-icon-button (click)="onToggleCollapse()"> <mat-icon>code</mat-icon></button>
</div>
  <formify-highlights [collapse]="collapse" [json]="formify.formGroup.value"></formify-highlights>
<form [formGroup]="formify.formGroup" #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="full-name">
    <formify-input formControlName="firstName" [fieldModel]="formify.field('firstName')"></formify-input>
    <formify-input formControlName="lastName" [fieldModel]="formify.field('lastName')"></formify-input>
  </div>
  <formify-select formControlName="language" [fieldModel]="formify.field('language')"></formify-select>
  <formify-textarea formControlName="biography" [fieldModel]="formify.field('biography')"></formify-textarea>
  <formify-toggle formControlName="toggleColor" [fieldModel]="formify.field('toggleColor')"></formify-toggle>
  <formify-radio formControlName="color" [fieldModel]="formify.field('color')"></formify-radio>
  <formify-exercises [groupModel]="formify.group('exercises')"></formify-exercises>
  <formify-radio formControlName="appearance" [fieldModel]="formify.field('appearance')"></formify-radio>
  <formify-address [arrayModel]="formify.array('address')"></formify-address>
  <formify-toggle formControlName="toggleContact" [fieldModel]="formify.field('toggleContact')"></formify-toggle>
  <formify-contact [groupModel]="formify.group('contact')"></formify-contact>
  <formify-submit [submit]="formify.submit"></formify-submit>
</form>
</div>
