
.form-content {
  > div {
    margin: 16px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  .full-name-content {
    display: flex;
    justify-content: space-between;

    > * {
      width: calc(50% - 5px);
    }
  }
}
