@import "src/app/scss/mixins";
.form-content {
  position: relative;
  > div {
    margin: 16px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    button{
      position: absolute;
      right: 0;
      top: -10px;
    }
  }
  .full-name{
    display: flex;
    justify-content: space-between;

    > * {
      width: calc(50% - 5px);
    }
  }
}
.loading-form{
  @include disabled-content;
  opacity: 0.7;
}
