<div class="form-content">
<div>Membership form</div>
<!--      <pre><code [highlight]="code"></code></pre>-->
<form [formGroup]="formify.formGroup" #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="full-name-content">
    <formify-input formControlName="name" [fieldModel]="formify.field('name')"></formify-input>
    <formify-input formControlName="lastName" [fieldModel]="formify.field('lastName')"></formify-input>
  </div>
  <formify-select formControlName="language" [fieldModel]="formify.field('language')"></formify-select>
  <formify-textarea formControlName="biography" [fieldModel]="formify.field('biography')"></formify-textarea>
  <formify-toggle formControlName="toggleColor" [fieldModel]="formify.field('toggleColor')"></formify-toggle>
  <formify-radio formControlName="color" [fieldModel]="formify.field('color')"></formify-radio>
  <formify-exercises [groupModel]="formify.group('exercises')"></formify-exercises>
  <formify-radio formControlName="appearance" [fieldModel]="formify.field('appearance')"></formify-radio>
  <formify-address formArrayName="address" [arrayModel]="formify.array('address')"></formify-address>
  <formify-toggle formControlName="toggleContact" [fieldModel]="formify.field('toggleContact')"></formify-toggle>
  <formify-contact formGroupName="contact" [groupModel]="formify.group('contact')"></formify-contact>
  <formify-submit [submit]="formify.submit"></formify-submit>
</form>
<div class="result" style="text-align: left; display: flex;flex-wrap: wrap; overflow: hidden">
  JSON:
  <ngx-json-viewer [json]="formify.formGroup.value"></ngx-json-viewer>
</div>
</div>
